
.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    height: calc(100vh - 97px);
}

.message {
    background: rgba(255, 255, 255, 0.156);
    padding: 10px;
    border-radius: 12px;
    align-self: flex-start;
    font-size: 20px;
}

.message.right {
    align-self: flex-end;
}

@media screen and (max-width: 1050px) {

.container{
    height: calc(100vh - 130px);
}

}