
.main {
    min-height: 100vh;
    background-color:  #102C54;
}

.header {
    background-color:  #021c4188;
    padding: 20px;
    /* text-align: right; */
    display: flex;
    justify-content: flex-end;
}

.header button {
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 17px;
}

.header button:hover {
    background-color: #ffffffbb;
}

.image {
    width: 400px;
    border: 10px solid #02112788;
    border-radius: 35px;
    opacity: 80%;
}

.main h1 {
    color: rgba(255, 255, 255, 0.834);
    font-size: 45px;
}

.container {
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    gap: 10%;
}

.container p {
    color: rgba(255, 255, 255, 0.834);
    font-size: 24px;
}

.text p {
    margin-top: 30px;
    padding-right: 100px;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .image {
        width: 250px;
    }

    .text p {
        padding-right: 30px;
    }
}