
.container {
    color: white;
    flex-grow: 1;
}

.header {
    padding: 10px;
    background-color:  #4a6fa388;
    border: 3px solid rgb(4, 28, 89);
}

@media screen and (max-width: 1050px) {

    .header{
        display: none;
    }

    .container {
        padding-top: 75px;
    }
}